@{
    ViewBag.Title = "Home Page";
}

<div class="row equal">
    @for (int i = 0; i < 3; i++)
    {
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="https://cdnb.artstation.com/p/assets/images/images/040/697/075/large/djigui-tim-cover-tome-2-one-piece-djiguito.jpg" alt="one piece's cover'">
                <div class="caption">
                    <a href="#" class="btn btn-default" role="button">One Piece Vol.5</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="thumbnail">
                <img src="https://learning.oreilly.com/library/cover/9781492091646/250w/" alt="head first java's cover'">
                <div class="caption">
                    <a href="#" class="btn btn-default" role="button">Head First Java</a>
                </div>
            </div>
        </div>
    }
</div>